<h1>All Records</h1>
 
<table>
 
  <% @students.each do |s| %>
    <tr>
    <th><%= s.id %></th>
  </tr>
    <tr>
      <td><%= s.class_ch %></td>
      <td><%= s.section %></td>
      <td><%= s.session %></td>
      <td><%= s.incharge %></td>
    </tr>
    <tr>
    <td><%= link_to 'Show', student_path(s) %></td>
      <td><%= link_to 'Edit', edit_student_path(s) %></td>
      </tr>
  <% end %>
</table>
